.Title {
    text-align: center;
    padding: 3%;
  }

/* menu */
.Menu_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(193, 239, 198);
  }
  
  li .Menu_bar{
    float: left;
  }
  
  li a .Menu_bar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover .Menu_bar {
    background-color: rgb(141, 202, 150);
  }

  .Afbeeldingen {
    width: 500px;
    height: auto;
  }
  .Plattegrond_1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .Plattegrond_2 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .Render_1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .Render_2 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  body {
    display: grid;
      grid-template-columns: 20vw 20vw 20vw 20vw 20vw 0vw;
      grid-template-rows: 45vh 20vh 45vh 45vh 45vh 5vh 45vh 45vh auto;
  }

  .title {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }

  #title {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  #info {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-top: 50px;
  }

  #uit {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-top: 180px;
  }

  #opsomming1 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-top: 200px;
  }

  #visie {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-top: 300px;
  }

  #uitleg {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-top: 350px;
  }

  #afbeeldingen {
    grid-column: 4 / 5;
    grid-row: 3 / 7;
    margin-left: 100px;
  }
